# Database
DATABASE_URL=postgresql://postgres:your-db-password@localhost:5432/JobHive_db

# JWT Authentication
JWT_SECRET_KEY=82740ea8bb34d1ac2e4701aaf18c6877991886162adeda18b04231688058ead5

# Resume Parsing (Affinda or other)
AFFINDA_API_KEY=aff_4ec446d7e3f628139a35c4060c6baf6f29737569

# Email Configuration
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=a88410001@smtp-brevo.com
EMAIL_PASS=bskPXgLHC77hFEo
EMAIL_FROM=abrarhossain1200@gmail.com